@import "reset.css";
@import "var.css";

/* Components */
@import "Screens/login.css";
@import "Screens/friends.css";
@import "Screens/find.css";
@import "Components/badge.css";

@keyframes shake {
  10%,
  90% {
    transform: scale(1.005);
  }

  20%,
  80% {
    transform: scale(1.0075);
  }

  30%,
  50%,
  70% {
    transform: scale(1.009);
  }

  40%,
  60% {
    transform: translate3d(0, 0, 0);
  }
}

body {
  color: #2e363e;
  font-family: "SamsungOne 400", "SamsungOne 700";
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
