#chat-screen {
  background-color: #e6f2ff;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #e6f2ff;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

@keyframes flip {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

@keyframes fading {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat-timestamp:first-child {
  animation: flip 3s ease-in-out infinite;
}
.chat-end {
  margin-bottom: 60px;
}
.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fading 0.5s linear;
  height: 85vh;
  overflow-y: scroll;
}

.chat-timestamp {
  color: white;
  background-color: #cde0f8;
  padding: 13px;
  border-radius: 35px;
  font-size: 14px;
  margin-bottom: 16px;
}
.chat-end {
  margin-bottom: 70px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 0px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 36%;
  margin-right: 12px;
}

.message__author {
  opacity: 0.9;
  font-size: 15px;
  margin-bottom: 7.5px;
  display: block;
}

.message__info {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}

.message__bubble {
  background-color: white;
  padding: 10px 12px;
  border-radius: 13px;
  font-size: 18px;
  border-top-left-radius: 0px;
  margin-right: 6px;
}

.message__time {
  font-size: 12px;
}

.message-row--own {
  display: flex;
  justify-content: flex-end;
  margin-right: -50px;
}

.message__bubble-own {
  background-color: var(--yellow);
  margin-left: 6px;
  border-top-left-radius: 13px;
  border-top-right-radius: 0px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.4s ease-in-out;
}

.reply .reply__column:first-child {
  width: 7%;
}
.reply .reply__column:last-child {
  width: 93%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 13px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "SamsungOne 400", "SamsungOne 700";
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 15px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply button {
  transition: opacity 0.4s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 99vw;
  transform: translateX(-10%) translateY(-82px);
  border: none;
}

.reply:focus-within {
  transform: translateY(80px);
}
