.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 33px;
  position: relative;
  margin-bottom: 8px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 551;
}

.screen-header__icons span {
  margin-left: 20px;
}
.fa-music {
  margin-left: 20px;
}
.screen-header__link {
  margin-left: 20px;
  position: relative;
}

.fa-cog {
  position: relative;
}

.fa-music,
.fa-book {
  transition: all 0.3s ease-in-out;
}
.fa-music:hover,
.fa-book:hover {
  transform: scale(1.15);
}
.screen-header__new {
  background-color: #ff1acd;
  color: white;
  position: absolute;
  bottom: 20px;
  height: 6px;
  width: 6px;
  border-radius: 3px;
}

@keyframes rotate-cog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotate-cog 1.5s linear infinite;
}
