.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 1.5px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.fa-wifi {
  display: flex;
  justify-content: center;
}
.status-bar__column:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-full {
  margin: 0px 4px;
}
