.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 23px;
  margin: 20px 15px 15px 13px;
  margin-left: 0px;
  margin-top: 10px;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
  border-radius: 26px;
}
.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__name {
  font-weight: 551;
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.user-component__name--not-bold {
  font-weight: 450;
}
